<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
		PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-config.dtd">


<configuration>
	<settings>
		<!-- 开启日志 ,并指定使用的具体的日志-->
		<setting name="logImpl" value="LOG4J"/>
	</settings>

	<typeAliases>
		<package name="com.jy.infonet.entity"/>
	</typeAliases>

	<plugins>
		<!-- 配置分页插件 -->
		<plugin interceptor="com.github.pagehelper.PageInterceptor"></plugin>
	</plugins>



</configuration>